[user]
	name = HubbeKing
	email = github@hubbe.club
[init]
	defaultBranch = main
[merge]
	ff = only
	conflictStyle = diff3
[pull]
	rebase = true
[core]
	autocrlf = input
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
