[Desktop Entry]
Categories=Network;Chat
Exec=/usr/bin/lith
Icon=weechat
Name=Lith
Comment=Multiplatform WeeChat Relay Client
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
