[Desktop Entry]
Categories=Development;IDE;Python;
Comment=Python IDE for Professional Developers
Exec=/opt/pycharm-community/bin/pycharm.sh %f
GenericName=Jetbrains Python IDE
Icon=/opt/pycharm-community/bin/pycharm.svg
Name=PyCharm Community Edition
StartupNotify=true
StartupVMClass=jetbrains-pycharm-ce
Terminal=false
Type=Application
Version=1.0
