[Desktop Entry]
Categories=Network;Chat
Comment=Attach to weechat tui running in k8s pod
Exec=kitty -T Weechat kubectl exec -it deployments/weechat -c weechat -- ./attach.sh
GenericName=Weechat TUI Attach
Icon=weechat
MiniIcon=weechat
Name=Weechat
Terminal=false
Type=Application
