[Desktop Entry]
Categories=Network
Comment[en_GB]=
Comment=
Exec=/usr/bin/kitty kubectl exec -it deployments/weechat -c weechat -- ./attach.sh
GenericName[en_GB]=
GenericName=tmux attach to weechat
Icon=/home/hubbe/Pictures/Weechat_logo.png
MimeType=
Name=Weechat
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
