[Desktop Entry]
Categories=Network
Comment=Attach to weechat tui running in k8s pod
Exec=kitty -T Weechat kubectl exec -it deployments/weechat -c weechat -- ./attach.sh
GenericName=Weechat TUI Attach
Icon=/home/hubbe/Pictures/Weechat_logo.png
MimeType=
Name=Weechat
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
